/*css file*/
/*css file*/
body {
  font-family: helvectica, Arial sans-serif;
  font-size: 14px;
  background: #282b2d url("images/grid_40.png");
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
.ng-cloak {
  display: none !important;
}
.trimRed {
  background: #a90329;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYTkwMzI5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjOGYwMjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZkMDAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */
  height: 30px;
  margin-bottom: 60px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: transparent;
}
.navbar {
  position: relative;
  min-height: 40px;
  margin-bottom: 0;
  border-radius: 1px;
  border: 1px solid transparent;
}
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.14285714;
  color: inherit;
  background: #ffffff url("images/masthead_placeholder.png") 50% 50% no-repeat;
  background-size: cover;
}
.jumbotron .mast {
  min-height: 400px;
  margin-top: 200px;
}
.jumbotron .tagLine {
  background-color: #c0392b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  padding: 10px;
}
.jumbotron .tagLine h2 {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}
.jumbotron .tagLine p {
  padding-bottom: 10px;
}
.jumbotron h1,
.jumbotron .h1 {
  line-height: 1;
  color: inherit;
}
.jumbotron p {
  line-height: 1.4;
}
.container .jumbotron {
  border-radius: 4px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 800px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}
.mainPage {
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 100px;
}
.mainPage h2 {
  color: #c0392b;
}
.mainPage p {
  color: #fff;
  font-size: 16px;
}
.services-panel {
  background-color: #262626;
  padding: 20px 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 60px;
}
.services-panel h2 {
  color: #c0392b;
}
.services-panel p {
  color: #fff;
  font-size: 16px;
}
.reinvent-panel {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid transparent;
  margin-bottom: 60px;
  background: #262626 url("images/tall_girl_terry_b.jpg") no-repeat;
  background-size: cover;
  height: 500px;
}
.reinvent-panel h2,
.reinvent-panel h4 {
  color: #c0392b;
}
.reinvent-panel p {
  color: #fff;
  font-size: 16px;
}
.reinvent-panel .reinvent-services {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(38, 38, 38, 0.5);
  position: relative;
  margin-top: 50px;
  padding-right: 50px;
}
.testimonial-panel {
  background-color: #262626;
  padding: 20px 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 100px;
}
.testimonial-panel h2 {
  color: #c0392b;
}
.testimonial-panel p {
  color: #fff;
  font-size: 16px;
}
footer {
  padding: 5px 20px;
  border: 1px solid transparent;
  background-color: #efefef;
  height: 250px;
}
footer h2 {
  color: #c0392b;
}
footer p {
  color: #fff;
  font-size: 16px;
}
