
<div class="mainPage" ng-controller="mainCtrl">


<div class="jumbotron"   >





    <div class="mast" data-0="background-position:0px 0px;"data-500="background-position:0px -250px;">



    </div>



</div>







<div class="services">


                            <div class="container">

                                <div class="row">


                                <div class="col-sm-4 text-center">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">

                                        <h2 class="panel-title">Personal Training</h2>
                                    </div>

                                    <div class="panel-body">

                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                          Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                                          Aenean posuere augue vel tellus ornare malesuada</p>
                                    </div>


                                 </div>
                                </div>


                                <div class="col-sm-4 text-center">
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">

                                            <h2 class="panel-title">Group Workshops</h2>
                                        </div>

                                        <div class="panel-body">


                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                                                Aenean posuere augue vel tellus ornare malesuada</p>
                                        </div>


                                    </div>
                                </div>



                                <div class="col-sm-4 text-center">
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">

                                            <h2 class="panel-title">Nutrition</h2>
                                        </div>

                                        <div class="panel-body">


                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                                                Aenean posuere augue vel tellus ornare malesuada</p>
                                        </div>


                                    </div>
                                </div>









                        </div>



                </div>



         </div>


<!--end services-->

    <div class="get-started clearfix">


    <div class="container-fluid">
    <div class="row-fluid">

        <div class="col-md-6">
               <div class="mot-v">
            <h1>Motivation Empowers Change</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                Aenean posuere augue vel tellus ornare malesuada</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                       Aenean posuere augue vel tellus ornare malesuada</p>


                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                       Aenean posuere augue vel tellus ornare malesuada</p>
               </div>



        </div>


        <div class="col-md-6">

              <div class="mark">
            <img class="img-responsive" src="images/MF-Badge-Logo_edit.png" alt="Muscle Flow free training"/>
               </div>

        </div>


        </div>


       </div>




    </div>

    <!--end get started-->










         <div class="testimonials">
             <h1>Testimonials</h1>
             <div class="row">

                 <div class="testimonial-panel clearfix">



                     <div class="col-sm-3 text-center">

                               <img class="img-circle" src="images/icon_vicki_bc.jpg" alt="vicky">
                         
                     </div>
                     <div class="col-sm-3">

                         <img class="img-circle" src="images/testi2.jpg" alt="vicky">

                     </div>
                     <div class="col-sm-3">

                         <img class="img-circle" src="images/guy_testi.jpg" alt="vicky">

                     </div>
                     <div class="col-sm-3">

                         <img class="img-circle" src="images/lindsay.jpg" alt="vicky">

                     </div>



                       </div>







                 </div>



             </div>




         </div>



































</div>


</div>