
<div class="mainPage" ng-controller="mainCtrl">


<div class="jumbotron">





    <div class="mast">



    </div>



</div>







<div class="services">


                            <div class="container-fluid">

                                <div class="row services-panel clearfix">


                                <div class="col-sm-4 text-center">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">

                                        <h2 class="panel-title">Personal Training</h2>
                                    </div>

                                    <div class="panel-body">

                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                          Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                                          Aenean posuere augue vel tellus ornare malesuada</p>
                                    </div>


                                 </div>
                                </div>


                                <div class="col-sm-4 text-center">
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">

                                            <h2 class="panel-title">Group Workshops</h2>
                                        </div>

                                        <div class="panel-body">


                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                                                Aenean posuere augue vel tellus ornare malesuada</p>
                                        </div>


                                    </div>
                                </div>



                                <div class="col-sm-4 text-center">
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">

                                            <h2 class="panel-title">Nutrition</h2>
                                        </div>

                                        <div class="panel-body">


                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Duis eu metus tincidunt, condimentum lectus eget, hendrerit dui.
                                                Aenean posuere augue vel tellus ornare malesuada</p>
                                        </div>


                                    </div>
                                </div>







                        </div>





                </div>



         </div>

<div class="sep-img" du-parallax y="background"><img src="images/bench_man.jpg"></div>

         <div class="re-invent">

                 <div class="row reinvent-panel clearfix">

                     <div class="col-md-8 reinvent-hero">



                         <ul class="list-group">
                             <li class="list-group-item"><h2>Free Fitness Evaluation</h2>

                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu metus tincidunt,
                                     condimentum lectus eget, hendrerit dui. Aenean posuere augue vel tellus ornare malesuada</p>


                             </li>

                             <li class="list-group-item"><h2>Free Class</h2>

                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu metus tincidunt,
                                     condimentum lectus eget, hendrerit dui. Aenean posuere augue vel tellus ornare malesuada</p>

                             </li>


                             <li class="list-group-item"><h2>Free Personal Training</h2>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu metus tincidunt,
                                     condimentum lectus eget, hendrerit dui. Aenean posuere augue vel tellus ornare malesuada</p>


                             </li>


                         </ul>


                     </div>


                     <div class="col-md-4 reinvent-services ">




                     </div>



                 </div>






         </div>



         <div class="testimonials">
             <h1>Testimonials</h1>
             <div class="row">

                 <div class="testimonial-panel clearfix">



                     <div class="col-sm-3 text-center">

                               <img class="img-circle" src="images/icon_vicki_bc.jpg" alt="vicky">
                         
                     </div>
                     <div class="col-sm-3">

                         <img class="img-circle" src="images/testi2.jpg" alt="vicky">

                     </div>
                     <div class="col-sm-3">

                         <img class="img-circle" src="images/guy_testi.jpg" alt="vicky">

                     </div>
                     <div class="col-sm-3">

                         <img class="img-circle" src="images/lindsay.jpg" alt="vicky">

                     </div>



                       </div>







                 </div>



             </div>




         </div>



































</div>


</div>